.shopping-cart {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase-btn {
    width: 50%;
    height: 50px;
    background-color: rgb(154, 197, 125);
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(92, 91, 91);
    margin: 20px auto;
    transition: transform 0.3s;
}

.purchase-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.confirm-purchase-modal {
    width: 30%;
    height: 30%;
    margin-top: 20%;
    margin-left: 35%;
    padding: 10px;
    background-color: teal;
    color: wheat;
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.confirm-purchase-modal p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.confirm-purchase-modal button {
    width: 30%;
    height: 40px;
    background-color: turquoise;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}

.confirm-purchase-modal button:focus {
    outline: none;
}
