.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    background-color: black;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
}

.welcome {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color: cornflowerblue;
    margin-bottom: 10px;
}

.subtext {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: cornflowerblue;
}