.login-container {
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-container::before {
    content: "";
    position: absolute;
    background: url(../../assets/background.jpeg) center;
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -1;
}

.welcome {
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    color: rgb(107, 140, 202);
    margin-bottom: 10px;
}

.subtext {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    color: cornflowerblue;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .welcome {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .subtext {
        font-size: 20px;
    }
}