.onsale-area {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 4px 17px;
    color: white;
}

.onsale-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.onsale-products .card {
    margin: 5px 10px 5px 10px;
}

.onsale-products::-webkit-scrollbar {
    height: 10px;
}
  
.onsale-products::-webkit-scrollbar-track {
    background: #3ca4e9;
    border-radius: 10px;
}
  
.onsale-products::-webkit-scrollbar-thumb {
    background: rgb(88, 90, 230);
    border-radius: 10px;
}
  
.onsale-products::-webkit-scrollbar-thumb:hover {
    background: darkslateblue;
}
