.products-container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 992px) {
    .products-container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .products-container {
        width: 95%;
    }
}