.card {
    width: 24%;
    height: 22rem;
    background-color: cornflowerblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.photo {
    width: 92%;
    margin: 10px auto;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

.prod-name {
    text-align: center;
    margin: auto;
}

.prod-disc {
    text-align: center;
    margin: auto;
}

.price {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin: auto;
}

.curency {
    font-size: small;
}

.card-btn:link,
.card-btn:visited {
    background-color: darkslateblue;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin:0 auto 10px auto;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    color: whitesmoke;
}