.side-bar {
    width: 17%;
    height: 400px;
    background-color: rgb(137, 184, 223);
    border-radius: 15px;
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar p {
    font-size: 1.2rem;
    text-align: center;
}

.side-profile-picture {
    width: 70%;
}

.side-profile-picture img {
    width: 100%;
}

@media (max-width: 992px) {
    .side-bar {
        width: 28%;
    }
}