.outer-frame {
    width: 100%;
    box-sizing: border-box;
}

.layout-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
