.add-product {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.new-product-banner {
    margin: auto;
    width: 48%;
    padding-top: 30px;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.new-product-banner img {
    width: 80%;
    margin: auto 10%;
}

.new-product-banner p {
    margin-left: 10%;
}

.add-product-form {
    width: 48%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    color: white;
}

.add-product-form h2 {
    margin: 10px;
}

.add-product-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
    background-color: rgb(108, 201, 173);
    padding: 10px;
    border-radius: 10px;
}

.form-row label {
    margin-bottom: 5px;
    color: rgb(18, 41, 41);
    font-weight: bold;
}

.form-row input {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.form-row input:focus {
    outline: none;
}

.add-product-btn {
    width: 50%;
    margin: 10px 15px;
    background-color: rgb(108, 201, 173);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #102950;
}

.add-product-btn:focus {
    outline: none;
}


@media (max-width: 480px) {
    .add-product {
        flex-direction: column;
    }

    .new-product-banner {
        width: 90%;
    }

    .add-product-form {
        width: 90%;
    }

    .add-product-btn {
        width: 70%;
    }
}